.game{
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 22px;
}
.card{
    height: 80px;
    width: 80px;  
    background-color: rgb(247, 229, 229);
    cursor: url('/cursor.png'), pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 8px;
}
.show{
    font-weight: 600;
    font-size: 20px;
}
.hide{
    font-size: 0;
}
.remove{
    visibility: hidden;
}
button{
    width: 140px;
    height: 40px;
    background: purple;
    border: none;
    border-radius: 5px;
    color: white;
}
