*{
    background: #000000;
    cursor: none;
}
.cursor-dot{
    width: 5px;
    height: 5px;
    background: white;
}
.cursor-outline{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(236, 225, 225);
}
.cursor-dot,.cursor-outline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}