.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 20px;
}
.board{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.box{
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: blue;
  background-color: rgb(234, 162, 69);
  border: 2px solid rgb(40, 39, 39);
}
.box:hover{
  background-color: rgb(231, 206, 206);
}
.game-info{
  margin-top: 40px;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}
